<h1 class="btn btn-primary">Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

